@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&display=swap');

body {
    background-color: dimgrey;
    /*font-family: 'Arial', sans-serif;*/
    box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
}

ul.main_menu{
    margin-top: -20px;
    font-size: 30px;
}

.main_menu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 25px;
}

.main_menu a {
    text-decoration: none;
    color: black;
    padding: 8px;
    font-variant: small-caps;
}

.main_menu a:hover {
    color: darkcyan;
}

.frontPageHeader{
    padding: 4px;
}
header h1 {
    text-align: center;
    color: black;
    font-family: 'Allura', cursive;
    font-size: 52px;
}
.underHeader{
    margin-left: 350px;
}

a{
    margin-left: 2em;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-variant: small-caps;
}
a:hover{
    color: darkcyan;
}

footer{
    text-align: center;
    padding: 2em 5em;
}
.slide {
    margin-left: 28%;
}

/*this is Biljana's styling;*/

#container{
    margin-left: 25rem;
    margin-top: -34rem;
    width: 660px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slider{
    width: 600px;  /*as big as the image width is*/
    height: 600px; /*as big as the image height is*/
    overflow: hidden;
    border: 10px solid whitesmoke;
}

#images{
    width: 3000px; /*5 images x 600 px of width each = 3000*/
    height: 600px;
    overflow: hidden;
    animation: slideImages 15s infinite;
}

#images img{
    float: left;
}

@keyframes slideImages {
    0%{margin-left: 0px;}
    10%{margin-left: 0px;}
    20%{margin-left: -600px;}  /*move it left 600 px so that 2nd image shows*/
    30%{margin-left: -600px;}  /*move it left 600 px so that 2nd image shows*/
    40%{margin-left: -1200px;} /*move it left 1200 px so that 3nd image shows*/
    50%{margin-left: -1200px;} /*move it left 1200 px so that 3nd image shows*/
    60%{margin-left: -1800px;}
    70%{margin-left: -1800px;}
    80%{margin-left: -2400px;}
    90%{margin-left: -2400px;}
    100%{margin-left: 0px;}
}

.progress-bar{
    position: relative;
    top: -10px;
    width: 600px;
    height: 10px;
    background: darkcyan;
    animation: animateBar 15s ease-out infinite;
}

@keyframes animateBar {
    0%, 20%, 40%, 60%, 80%, 100%{width: 0%; opacity: 0;}
    10%, 30%, 50%, 70%, 90% {width: 100%; opacity: 0.7;}
    18%, 38%, 58%, 78%, 98% {width: 100%; opacity: 0;}
}

.caveImage{
    border: 10px solid whitesmoke;
    margin-left: 380px;
    margin-top: -350px;
}

.locationImage{
    border: 10px solid whitesmoke;
    margin-left: 30rem;
    margin-top: -10rem;
    width: 650px;
    height: 450px;
}

.caveListLinkCave, .listOfDifficulties, .listOfLocations{
    font-size: 20px;
}
#listContainer{
    border: 5px dotted darkcyan;
    margin-right: 600px;
    padding-left: 10px;
}

.caveNavList{
    border: 5px dotted darkcyan;
    margin-right: 550px;
}

.caveFeaturesHeader, .caveDescription{
    text-decoration: underline;
}
.frontCaveImage{
    width: 1050px;
    height: 200px;

}

.caveFeatureDetails{
    margin-right: 700px;
    margin-left: 50px;
}

.caveDescriptionDetails{
    margin-right: 600px;
    margin-left: 30px;
}

.hashTagWrapper{
    margin-right: 600px;

}
.hashTag-details_container{
    display: flex;
    font-size: 20px;
    margin: -1em;
    padding-left: 2rem;
}
.deleteHashTag{
    height: 20px;
    margin-top: 1.5em;
}