<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--this is front page-->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="../css/style.css">
    <title class="title">Spelunked! Travel Agency</title>
</head>

<body>
<header class="frontPageHeader">
    <h1> <img src="../static/images/cave2.jpg"> </h1>
    <h1>Splunked Travel Agency</h1>
    <span class="underHeader">Connecting people and places</span>
</header>
</header>
<nav>
    <ul class="main_menu">
        <li><a href="/difficulties">Home</a></li>
        <li><a href="/static/aboutUs.html">About Us</a></li>
        <li><a href="/static/booking.html">Book a trip</a></li>
        <li><a href="/static/educate.html">Education</a></li>
        <li><a href="/static/gear.html">Gear</a></li>
    </ul>
</nav>
<h3 class="difficultiesHeader">Search Caves by difficulty level:</h3>

<h3 class="listOfDifficulties" th:each="difficulty:${difficulties}"><a th:href="@{'/difficulties/'+
                ${difficulty.level}}" th:text="${difficulty.level}">Difficulty</a>
</h3>

<h3 class="locationsHeader">Search Caves by Location:</h3>
<h3 class="listOfLocations" th:each="location:${locations}"><a th:href="@{'/locations/'+
                ${location.name}}" th:text="${location.name}">Location</a>
</h3>


<div id="container">
    <main>
        <div id="slider">
            <div id="images">
                <img id="img1" src="../static/images/antartica.jpg" alt="">
                <img id="img2" src="../static/images/ape_cave_north_america.jpg" alt="">
                <img id="img3" src="../static/images/blue_grotto_caves_europe.jpg" alt="">
                <img id="img4" src="../static/images/cueva_del_fantasma_caves_south_america.jpg" alt="">
                <img id="img5" src="../static/images/echo_caves_africa.jpg" alt="">
            </div>
            <div class="progress-bar"></div>
        </div>
    </main>
</div>

<footer>
    &copy; Captain America Team 2020
</footer>
</body>

</html>
