

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spelunk Travel Agency</title>
    <link rel="stylesheet" type="text/css" href="../static/css/gearstatic.css">

</head>
<body>
<div id="wrapper">
    <header>
        <h1> <img src="../static/images/cave2.jpg"> </h1>
        <h2>Spelunked! Travel Agency</h2>
    </header>
    <nav>
        <ul class="main_menu">
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Booking</a></li>
            <li><a href="">Gallery</a></li>
        </ul>
    </nav>


    <p>

    </p>
</div>


<div id="gear">
    <h2>Basic Gear Essentials</h2>
   <p>In order to enjoy spelunking there may be some required gear for certain types of caves.  Below is a list of the
    most common gear that might be necessary. The exact gear needed is still dependent on the type of cave, location,
    time in the cave, environment in the cave, difficulty level of cave, and the weather.
   </p>
    <img src="../static/images/cave1.jpg" alt="Pineapple" style="width:170px;height:170px;margin-left:15px;">
    <ul>
        <li>Helmet, w/ headlamp</li>
        <li>Flashlight</li>
        <li>Knee pads</li>
        <li>Boots</li>
        <li>Spare Headlamp</li>
        <li>Spare batteries</li>
        <li>Food</li>
        <li>Drinking water</li>
        <li>Large garbage bag</li>
    </ul>
<p>In addition to the above, the list below is entirely optional, and dependent on many factors.</p>
    <img src="../static/images/cave2.jpg" alt="Pineapple" style="width:170px;height:170px;margin-left:15px;">
    <ul>
        <li>Map of cave</li>
        <li>Camera</li>
        <li>Compass</li>
        <li>Chemical light stick</li>
        <li>Duct tape</li>
        <li>Zip lock bags</li>
        <li>Pocket knife</li>
        <li>Folding multi-tool</li>
        <li>Hand-line and carabineer</li>
        <li>Watch</li>
        <li>First aid kit</li>
        <li>Heat packs, the type that shake to activate</li>
        <li>Elbow pads</li>
    </ul>
<p>Finally, the below may be items to bring and keep in your car or mode of transportation to the caving site.</p>
    <img src="../static/images/cave3.jpg" alt="Pineapple" style="width:170px;height:170px;margin-left:15px;">
   <ul>
       <li>Change of clothes</li>
       <li>Emergency phone numbers</li>
       <li>Road maps</li>
       <li>Cave directions and descriptions</li>
       <li>Garbage bags</li>
       <li>Towel</li>
       <li>Extra food and water</li>
       <li>Water for washing after trip</li>
       <li>Bug and tick repellent</li>
   </ul>

    <h2>Have Fun!!!!</h2>
</div>








</body>
</html>

</body>
</html>